<!DOCTYPE html>

<html>
<head>
	<title>Flag Quiz</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="/statics/flag.css" rel="stylesheet"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/statics/jquery.countdown-2.2.0/jquery.countdown.min.js"></script>
	<script src="/statics/flag.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
	{% include 'navbar.html' %}
	
	<div id="div-start"><button id="start-btn">START!</button></div>
	<div id="div-top">
		<span id="span-time"></span>
		<span id="span-score"></span>
	</div>
	<div id="div-flag"></div>
	<div class="div-row">
		<div class="div-answer" id="div-0"></div>
		<div class="div-answer" id="div-1"></div>
	</div>
	<div class="div-row">
		<div class="div-answer" id="div-2"></div>
		<div class="div-answer" id="div-3"></div>
	</div>
	<div id="div-result"></div>
	<div id="div-quit"></div>
</body>
</html>