<!-- navigation bar included in all pages -->

<nav class="navbar navbar-inverse navbar-fixed-top" style="opacity: 0.8">
	<div class="container-fluid">
	    <div class="navbar-header">
	    	<a class="navbar-brand" href="/home">Home</a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="/flag">Flag Quiz</a></li>
	    	<li><a href="/map">Map the Capital</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	{% if name %}
	    		<li class="dropdown">
	    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <b>{{name}}</b><span class="caret"></span></a>
	    			<ul class="dropdown-menu">
		            	<li><a href="/high">Your Scores</a></li>
		            	<li><a href="/leader">Leaderboard</a></li>
		        	</ul>
	    		</li>
	    		<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	    	{% else %}
	    		<li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	    		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    	{% endif %}
	    </ul>
	</div>
</nav>